header {
    
    text-align: center;
    background-color: sandybrown;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container {
    text-align: center;
    background-color: darkkhaki;
    padding-top: 6px;
    padding-bottom: 6px;
}

#container ul {
    
}
